.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.name
/.idea/copyright
.DS_Store
/build
/captures
/docs

gradle-mvn-push.gradle
gradle.tasks.txt

*.iml
