.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/.name
/.idea/copyright
/.idea/dictionaries
/.idea
.DS_Store
/build
/docs

gradle-mvn-push.gradle
gradle.tasks.txt

*.iml
*.apk

.gradle.tasks.txt
projectFilesBackup/
library/src/main/java/com/obsez/android/lib/filechooser/tool/DirAdapter.java___jb_tmp___
app/app.iml___jb_tmp___
