<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.obsez.android.lib.filechooser.demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/title_activity_about"
            android:icon="@mipmap/ic_launcher"
            android:parentActivityName=".ChooseFileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.obsez.android.lib.filechooser.demo.ChooseFileActivity"/>
        </activity>
        <activity
            android:name=".ChooseFileActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

        <provider
            android:name=".tool.AppContextProvider"
            android:authorities="${applicationId}.tool.applicationprovider"
            android:directBootAware="true"
            android:exported="false"
            android:initOrder="900"
            tools:ignore="UnusedAttribute"/>
        <provider
            android:name=".tool.LastActivityProvider"
            android:authorities="${applicationId}.tool.lastactivityprovider"
            android:directBootAware="true"
            android:exported="false"
            android:initOrder="900"
            tools:ignore="UnusedAttribute"/>

    </application>

</manifest>
